<!--The content below is only a placeholder and can be replaced.-->
<div class="card m-3">
  <div class="card-body">
    <h4 class="card-title">Welcome to {{ title }}!</h4> 
 

  <div class="panel-body">
    <div class="row mb-5">
      <div class="col-md-10 upload-btn-wrapper">
        <button class="btn btn-warning" (click)="fileChange($event)">Choose File</button>
        <input type="file" class="form-control" (change)="fileChange($event)" name="file" />
        <span class="ml-3" *ngIf="fileList && fileList[0]">{{fileList[0]?.name}}</span>
      </div>

      <div class="col-md-2">
        <button class="btn btn-primary" (click)="uploadFile()">Upload</button>
      </div>
    </div>

    <div class="progress mt-5" *ngIf="!isNewFile">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0"
        aria-valuemax="100" [style.width]="progressPercentage+'%'">
        {{progressPercentage}}%
      </div>
      <!-- <div *ngIf="isUploadingDone"> 
          File is completely loaded!
        </div> -->
    </div>
  </div>
</div>
  <router-outlet></router-outlet>
</div>